<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
  <table class="entry">
    <td>
      <%= image_tag(product.image_url) %>
    </td>
    <td>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= product.price %></span>
      </div>
    </td>
  </table>
<% end %>
